.bg-col {
  background-color: rgb(235, 179, 179);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light  .nav-link:hover {
  border-bottom: 1px solid #000000;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light  .nav-link:active{
  border-bottom: 1px solid #000000;
}

.bgg-col {
  background-color: rgb(187, 88, 88);
}

.btn-col {
  background-color: rgb(235, 184, 184);
  /* color: white; */
  font-size: bold;
}

.nav-link a:active {
  font-size: bold !important;
}